<div class="d-flex mt-4 justify-content-center">
  <h4>New Review</h4>
</div>

<div class="d-flex justify-content-center p-4">
  <%= simple_form_for([@restaurant, @review]) do |f| %>
    <%= f.input :content  %>
    <%= f.input :rating  %>
    <%= f.submit %>
  <% end %>
</div>
